@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: Merriweather;
}

/* font color */
.font-color-red {
    color: #FF0000;
}

.font-color-black {
    color: #070211;
}

.font-color-white {
    color: white;
}

.font-size-24 {
    font-size: 24px;
}

.text-size-32 {
    font-size: 32px;
}

.font-size-48 {
    font-size: 48px;
}

button {
    font-size: 20px;
    height: 56px;
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 32px;
}


/* New year banner */

.new-year {
    /* background-image: url('../images/Banner\ Image.png'); */
    height: 600px;
    width: 1320px;
    background-repeat: no-repeat;
    margin: 50px auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');


}

.new-year-content {
    text-align: center;
    padding: 170px;

}

.new-year-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.new-year-subtitle {
    font-size: 72px;
    margin-top: 15px;

}

/* New Yer Offer */

.new-year-offer {
    text-align: center;

}

.flat-offer {
    font-size: 82px;
    margin-top: 120px;

}

.deals {
    font-size: 24px;
    margin-top: 48px;
}

.categories {
    font-size: 48px;
    margin-top: 16px;
}

/* welcome */
.welcome {
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    margin: 50px auto;
    margin-top: 130px;

}

.flex {
    display: flex;
    padding: 60px;
    gap: 310px;
}

.victor {
    margin-top: 0px;
}

.title {
    font-size: 64px;
    margin-bottom: 26px;
}

.subtitle {
    font-size: 18px;

}

.join {
    font-size: 30px;
    margin-bottom: 48px;
}

.dade-line {
    text-align: center;
}

.time {
    /* height: 482px;
    width: 1320px; */
    /* margin: 50px auto; */
    border-radius: 16px;
    padding: 89px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.fit-box {
    height: 482px;
    width: 1320px;
    margin: 50px auto;
    margin-top: 130px;
}

/* offer offer-container section */

.offer-container {
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-bottom: 120px;


}

.offer-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px;
}

.leftside {
    width: 33%;
    height: 463px;

}

.middle {
    width: 33%;
    height: 463px;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
}

.middle img {
    margin: 5px auto;
}

.rightside {
    width: 33%;
    height: 463px;
}

.rightside h1 {
    font-size: 48px;
}

.leftside h4 {

    font-size: 24px;
}

.leftside h1 {

    font-size: 48px;
    margin-bottom: 16px;
}

.leftside p .rightsid p {

    color: #07021199;

}

/* holly day content  */

.holiday-container-section {
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    position: relative;
}

.holyday-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holyday-text-container h5 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    margin-top: 0px;

}

.holyday-text-container h1 {
    font-family: Merriweather;
    font-size: 72px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.holyday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

.solid-color {
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
}

.gift-box {
    width: 1320px;
    height: 229px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.girl img {
    height: 433px;
    width: 450px
}

.girl {
    position: relative;
    left: 6%;
    top: 12%;
}

.discount {
    position: absolute;
    bottom: 23%;
    left: 65%;
    z-index: 1;
}

.portfolio-container-section {
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 120px;
}

.portfolio-text-container h1 {
    margin-top: 16px;
}

.item {
    width: 424px;
    height: 450px;
}

.portfolio-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

/* subscribe-content */


.subscribe-container-section {
    width: 1320px;
    height: 616px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 120px;
}