@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: Merriweather;
}

/* font color */
.font-color-red {
    color: #FF0000;
}

.font-color-black {
    color: #070211;
}

.font-color-white {
    color: white;
}

.text-size-32 {
    font-size: 32px;
}

button {
    font-size: 20px;
    height: 56px;
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 32px;
}


/* New year banner */

.new-year {
    /* background-image: url('../images/Banner\ Image.png'); */
    height: 600px;
    width: 1320px;
    background-repeat: no-repeat;
    margin: 50px auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');


}

.new-year-content {
    text-align: center;
    padding: 170px;

}

.new-year-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.new-year-subtitle {
    font-size: 72px;
    margin-top: 15px;

}

/* New Yer Offer */

.new-year-offer {
    text-align: center;

}

.flat-offer {
    font-size: 82px;
    margin-top: 120px;

}

.deals {
    font-size: 24px;
    margin-top: 48px;
}

.categories {
    font-size: 48px;
    margin-top: 16px;
}

/* welcome */
.welcome {
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    margin: 50px auto;
    margin-top: 130px;

}

.flex {
    display: flex;
    padding: 60px;
    gap: 310px;
}

.victor {
    margin-top: 0px;
}

.title {
    font-size: 64px;
    margin-bottom: 26px;
}

.subtitle {
    font-size: 18px;

}

.join {
    font-size: 30px;
    margin-bottom: 48px;
}

.dade-line {
    text-align: center;
}

.time {
    /* height: 482px;
    width: 1320px; */
    /* margin: 50px auto; */
    border-radius: 16px;
    padding: 89px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.fit-box {
    height: 482px;
    width: 1320px;
    margin: 50px auto;
    margin-top: 130px;
}

/* offer offer-container section */

.offer-container {
    width: 1320px;
    height: 463px;
   
    margin: 0 auto;


}

.offer-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
}

.leftside {
    width: 33%;
    height: 463px;
    
}

.middle {
   
    width: 33%;
    height: 463px;
   
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
}

.middle img {
    margin: 5px auto;
}

.rightside {
    width: 33%;
    height: 463px;
    
}
.rightside h1 {
    font-size: 48px;
}
.leftside h4{

    font-size: 24px;
   
    
}
.leftside h1{

    font-size: 48px;
    margin-bottom: 16px;
}
.leftside p .rightsid p  {

    color: #07021199; 
   
}


